* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: $font-base;
    color: $color-primary;
    margin: $spacing-lg auto;
    max-width: 1200px;
    padding: 0 $spacing-md;
    line-height: 1.6;
}

a {
    color: $color-link;
    text-decoration: underline;
    font-size: 14px;
}

