nav {
    background-color: white;
    padding: 1rem 2 rem;
    border-bottom: 1px solid #eaeaea;
     }

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
     }

a {
    color: primary-color;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
        color: accent-color;
     }
      }
        

