.intro {
    h1 {
        font-size: 24px;
        line-height: 1.4;
        max-width: 400px;
        margin-bottom:variables.$spacing-md;
    }

 a {
        font-size: 14px;
     }
      }

.gallery { 
    column-count: 3;
    column-gap: variables.$spacing-md;
    margin-bottom: variables.$spacing-lg;

    img {
        width: 100%;
        margin-bottom: variables.$spacing-md;
        display: block;
        break-inside: avoid;
        border-radius: 8px;    
    }
     }

    .description {
        margin: variables.$spacing-lg 0;
        max-width: 500px;
        font-size: 16px;   
    }

    .footer {
        display: flex;
        gap: variables.$spacing-lg;
        margin-top: variables.$spacing-lg;

    div {
        flex: 1;
        

        h4 {
            margin-bottom: variables.$spacing-sm;
            font-weight: bold;
            }

        p {
            font-size: 14px;
            color: variables.$color-secondary;
            }
          }
         } 

    .copyright {
        margin-top: variables.$spacing-lg * 2;
        font-size: 14px;
        color: variables.$color-light;
        }

        

